{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bodyexperta</title>

    <!-- Подключение Bootstrap через CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'assets/dist/css/style.css' %}" />

    <style>
      /* Растягиваем контент на всю высоту и ширину экрана */
      html,
      body {
        height: 100%; /* Задаём 100% высоты */
        margin: 5; /* Убираем внешние отступы */
        width: 100%; /* Задаём 100% ширины */
      }

      .container-fluid {
        min-height: 100vh; /* Растягиваем блок на всю высоту экрана */
        width: 100%; /* Растягиваем блок на всю ширину экрана */
      }
    </style>
  </head>
  <body>
    <a
      href="https://t.me/Bodyexperta"
      target="_blank"
      style="text-decoration: none"
    >
      <button class="floating-button">
        <div class="floating-button-wave"></div>
        <div class="floating-button-icon">Онлайн-<br />запись</div>
      </button>
    </a>
    <!-- Контейнер с контентом, растягивающийся на всю высоту экрана -->
    <div class="container">{% block content %} {% endblock %}</div>

    <footer
      class="footer d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
    >
      <div class="col-md-4 d-flex align-items-center">
        <a
          href="/"
          class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
        >
          <svg class="bi" width="30" height="24">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary"
          >© 2024 Все права защищены</span
        >
      </div>

      <ul class="nav col-md-4 justify-content-center list-unstyled d-flex">
        <li>
          <a href="https://t.me/dr_irina_clinica" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="35"
              height="35"
              viewBox="0 0 48 48"
            >
              <path
                fill="#29b6f6"
                d="M24 4A20 20 0 1 0 24 44A20 20 0 1 0 24 4Z"
              ></path>
              <path
                fill="#fff"
                d="M33.95,15l-3.746,19.126c0,0-0.161,0.874-1.245,0.874c-0.576,0-0.873-0.274-0.873-0.274l-8.114-6.733 l-3.97-2.001l-5.095-1.355c0,0-0.907-0.262-0.907-1.012c0-0.625,0.933-0.923,0.933-0.923l21.316-8.468 c-0.001-0.001,0.651-0.235,1.126-0.234C33.667,14,34,14.125,34,14.5C34,14.75,33.95,15,33.95,15z"
              ></path>
              <path
                fill="#b0bec5"
                d="M23,30.505l-3.426,3.374c0,0-0.149,0.115-0.348,0.12c-0.069,0.002-0.143-0.009-0.219-0.043 l0.964-5.965L23,30.505z"
              ></path>
              <path
                fill="#cfd8dc"
                d="M29.897,18.196c-0.169-0.22-0.481-0.26-0.701-0.093L16,26c0,0,2.106,5.892,2.427,6.912 c0.322,1.021,0.58,1.045,0.58,1.045l0.964-5.965l9.832-9.096C30.023,18.729,30.064,18.416,29.897,18.196z"
              ></path>
            </svg>
          </a>
        </li>
        <li></li>
      </ul>
    </footer>

    <!-- Подключение JavaScript Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'assets/dist/js/main.js' %}"></script>
  </body>
</html>
